.Rhistory
.Rproj.user
*.tar.gz
*.Rcheck
*.o
*.so
inst/doc
release_audit/
release_audit/*.log
release_audit/*.exitcode
release_audit/*.html
release_audit/*_check/
inst/extdata/formatted_example/
inst/extdata/quickstart_real_assets.zip*
inst/extdata/quickstart_demo/
*.bed
*.bim
*.fam
mrmoss_results/
*.rds
*.RData
*.rda
*.vcf
*.vcf.gz
*.tsv.gz
*.csv.gz
